.btn {
  display: inline-block;
  padding: 28px 33px;
  background-color: $color-red;
  font-family: inherit;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: none;
}




